# -*- mode: conf -*-
*.bak
*~
\#*\#
.\#*
scratch*
.DS_Store
Thumbs.db
*.diff
*.patch

# Racket puts compiled files in this folder
compiled/

# Folders containing data generated and used during the build.
ActivityLog2.ico
ActivityLog2
AL2-Climb-Analysis
build-id.txt
dist/
test/test-db/
test/test-fit/
pkgs/catalog/
pkgs/catalog-config.txt

# ignore it for now, contains user specific info.
.dir-locals.el

# various data files that we don't want under version control
*.exe
*.fit
*.csv
*.xlsx
*.xls
*.xlsm
ChangeLog
TAGS
flycheck_*
test-results-*.xml
test/test-results/
