[submodule "pkgs/tzdata"]
	path = pkgs/tzdata
	url = https://github.com/97jaz/tzdata.git
[submodule "pkgs/tzinfo"]
	path = pkgs/tzinfo
	url = https://github.com/97jaz/tzinfo.git
[submodule "pkgs/tzgeolookup"]
	path = pkgs/tzgeolookup
	url = https://github.com/alex-hhh/tzgeolookup.git
[submodule "pkgs/cldr-core"]
	path = pkgs/cldr-core
	url = https://github.com/97jaz/cldr-core.git
[submodule "pkgs/memoize"]
	path = pkgs/memoize
	url = https://github.com/alex-hhh/memoize.git
[submodule "pkgs/data-frame"]
	path = pkgs/data-frame
	url = https://github.com/alex-hhh/data-frame.git
[submodule "pkgs/plot-container"]
	path = pkgs/plot-container
	url = https://github.com/alex-hhh/plot-container.git
[submodule "pkgs/gui-widget-mixins"]
	path = pkgs/gui-widget-mixins
	url = https://github.com/alex-hhh/gui-widget-mixins.git
[submodule "pkgs/al2-test-runner"]
	path = pkgs/al2-test-runner
	url = https://github.com/alex-hhh/al2-test-runner.git
[submodule "pkgs/map-widget"]
	path = pkgs/map-widget
	url = https://github.com/alex-hhh/map-widget.git
[submodule "pkgs/geoid"]
	path = pkgs/geoid
	url = https://github.com/alex-hhh/geoid.git
